<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="ConexionBDREQCMF" connectionString="Data Source=LENOVO-NM;Initial Catalog=FERRE;Persist Security Info=True;User ID=sa;Password=sqladmin"
          providerName="System.Data.SqlClient" />
        <add name="OSOFConexion.Properties.Settings.OSOFTConnectionString1"
          connectionString="Data Source=LENOVO-NM\SQLEXPRESS;Initial Catalog=FERRE;Persist Security Info=True;User ID=sa;Password=sqladmin"
          providerName="System.Data.SqlClient" />
      </connectionStrings>
</configuration>